*.pyc
.idea
.vscode
*/*.pyc
*/*/*.pyc
*/migrations/*
./src/static/*
/__pycache__
src/mydjango/__pycache__/settings.cpython-35.pyc
*/static/
.DS_Store
.env
**/.DS_Store
src/mydjango/local_settings.py
src/media